<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.js"></script>
    <style>
      button {
        border: 0;
        background: none;
        box-shadow:none;
        background-color: lightblue;
        margin: 5px;
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <h1>/api/login/</h1>
    <div id="main">
      <input type="text" name="username" id="username" value="acuskec"/>
      <input type="password" name="password" id="password" value="acuskev1"/>
      <button onclick="submit()">Submit</button>
    </div>

    <h1>/api/day/</h1>
    <div>
      <input type="text" name="date" id="date" value="6/1/2017"/>
      <br/>
      <button onclick="getDataByDate()">Get Data By Date</button>
      <button onclick="getMealsByDate()">Get Meals By Date</button>
      <button onclick="getWaterByDate()">Get Water By Date</button>
      <button onclick="getEntriesByDate()">Get Entries By Date</button>
    </div>
    <hr />
    <h1>/api/range/</h1>
    <div>
      <input type="text" name="start" id="start" value="6/1/2017"/>
      <input type="text" name="end" id="end" value="6/9/2017"/>
      </br>
      <button onclick="getRange()">Get Range</button>
      <button onclick="getMealsRange()">Get Meals in range</button>
    </div>


    <br></br>
    <canvas id="myChart" width="400" height="400"></canvas>
    <script src = "{{ url_for('static', filename = 'script.js') }}"></script>
    <script>
      
    </script>
  </body>
</html>